<div class="maincontainer">
    <div class="leftbar">
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard/courses/addcourse"><i class="material-icons">book</i> addcourse </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard/courses/editcourse"><i class="material-icons">book</i> editcourse </a>
        </mat-nav-list>
        
    </div>
    
    <div class="rightbar">
      <router-outlet></router-outlet>
    </div>
    
    </div>